/*  FormPlus Front End Task */
:root{
  --primary-bg: #ffffff;
  --secondary-bg: #f2f2f2;
  --tertiary-bg: #c93d3d;
  --icon-text: grey;
  --theme-text: #000000;
  --reverse-theme-bg: #ffffff;
}

/* Initial Necessaries */
html{
  scroll-behavior: smooth;
  min-height:100%;
}
body{
  background:var(--primary-bg);
  font-size:100%;
  font-family: 'Montserrat', sans-serif;
  margin:0;
  padding:0
}
i{
  color: var(--icon-text)
}
input,select, textarea, button{
  outline:none;
  font-family: 'Montserrat', sans-serif;
}
input{
  border:0.5px solid #bdbdbd;
  width:86%;
  border-radius:0.3rem;
  padding:3% 4% 3% 10%;
}
select{
  padding:1.3% 2%;
  border:0.5px solid #bdbdbd;
  border-radius:0.2rem;
}
.index_main_widget{
  width:80%;
  margin: 0 auto;
  padding:3% 5%;
}
.flexed-area{
  display: flex;
}
.centralized{
  align-items: center;
}
.apart{
  justify-content: space-between;
}

/* Form WIdget */

/* Search Widget */
.search_card{
  position: relative;
  width:30%;
}
.search_icon{
  position: absolute;
  top:20%;
  right:5%;
}
.form-area{
  position: sticky;
  top:3rem;
  left:0;
  background: var(--primary-bg);
  z-index:1;
}
/* End of Search Widget */

/* Sort WIdget */
.sort_widget{
  width:45%;
}
.item-select{
  width:27%;
  margin:0 3% 0 0;
}
/* End of Sort WIdget */

/* End of Form WIdget */

/* Notice Card Display */
.notice_card{
  width:95%;
  padding:0.5% 2.5%;
  margin:2rem 0;
  background:#FFF4EA;
  display: flex;
  justify-content: center;
}
.notice_card > div{
  width:90%;
  display: flex;
  justify-content: center;
}
.notice_card i{
  color:#FC830A;
  margin: 0 2% 0 0;
}
/* End of Notice Card  */

/* Template Widget */
.template_widget{
  margin:3rem 0 0 0;
}
.template_card{
  width:23.3%;
  margin:2% 3%;
  padding:2%;
  display: inline-block;
  box-shadow:0px 0px 15px rgb(194, 194, 194);
  border-radius: 0.4rem;
  vertical-align:top;
}
.template_card p{
  font-size:0.8rem;
  line-height:1.2rem;
}
.template_card button{
  background:transparent;
  color:green;
  border:none;
  font-size:0.8rem;
  font-weight:bolder;
}

/* Loader */
.inAppLoader{
  width:6%;
  margin:0 auto;
  margin-top:6rem;
}
.pagination-widget{
  width:70%;
  margin:0 auto;
  margin-top:6rem;
}
.pag-num{
  width:10%;
  font-weight:bold
}
.pag-num span{
  border:1px solid #bdbdbd;
  padding:10% 10%;
  margin: 0 20%;
}